@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  h1 {
    @apply font-favorit font-medium text-5xl leading-6;
  }

  h2 {
    @apply font-favorit font-bold text-4xl leading-6;
  }

  h3 {
    @apply font-favorit font-book text-3xl leading-5;
  }

  .book-info-sm {
    @apply font-favorit font-book text-sm leading-4;
  }

  .book-info-md {
    @apply font-favorit font-book text-base leading-4;
  }

  .book-intro-sm {
    @apply font-favoritBook text-md leading-4;
  }

  .book-intro-md {
    @apply font-favoritBook font-book text-xl leading-4;
  }

  .book-intro-lg {
    @apply font-favoritBook font-book text-2xl leading-5;
  }

  .medium-intro-sm {
    @apply font-favorit font-medium text-base leading-4;
  }

  .medium-intro-md {
    @apply font-favorit font-medium text-xl leading-4;
  }

  .medium-intro-lg {
    @apply font-favorit font-medium text-2xl leading-5;
  }

  .bold-intro-sm {
    @apply font-favorit font-bold text-md leading-4;
  }

  .bold-intro-md {
    @apply font-favorit font-bold text-xl leading-4;
  }

  .bold-intro-lg {
    @apply font-favorit font-bold text-2xl leading-5;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 50px;
  height: 50px;
  border: 40px solid #f3f3f3;
  border-top: 40px solid #4f46e5;
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.spinner-container {
  background-image: url(images/loading-bg.png);
  background-size: cover;
}

.header-background {
  background: url(images/header-background.png) no-repeat center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  height: 80vh;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-content {
  flex: 0 0 60vw;
}

.saf-demo {
  background: url(images/SAF-preview.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  padding: 20%;
}

.tooltip {
  position: absolute;
  margin: 8px;
  padding: 4px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  max-width: 300px;
  font-size: 10px;
  z-index: 9;
  pointer-events: none;
}

.control-panel {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 320px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 12px 24px;
  margin: 20px;
  font-size: 13px;
  line-height: 2;
  color: #6b6b76;
  text-transform: uppercase;
  outline: none;
}

.onMap {
  position: absolute;
  max-width: 400px;
}

.title-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-background-shape {
  background: url('data:image/svg+xml;utf8,<svg width="357" height="247" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 140C0 62.6801 62.6801 0 140 0H314V206H0V140Z" fill="%23EFF4F1"/><path d="M357 107C357 184.32 294.32 247 217 247L44 247L44 40L357 40L357 107Z" fill="%23EFF4F1"/></svg>')
    top no-repeat;
}

.plan-background-shape {
  background: url('data:image/svg+xml;utf8,<svg width="339" height="206" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 140C0 62.6801 62.6801 0 140 0L185 0L185 206L0 206L0 140Z" fill="%232F3130"/><rect x="66" y="1" width="273" height="205" rx="102.5" fill="%232F3130"/></svg>')
    top no-repeat;
}

.measure-background-shape {
  background: url('data:image/svg+xml;utf8,<svg width="313" height="207" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M313 67C313 144.32 250.32 207 173 207L-3.05176e-05 207L-1.24211e-05 3.15425e-06L313 3.05176e-05L313 67Z" fill="%231EB792"/></svg>')
    top no-repeat;
}

.list-background-shape {
  background: url('data:image/svg+xml;utf8,<svg width="338" height="186" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M338 46C338 123.32 275.32 186 198 186L0 186L1.62606e-05 -2.95489e-05L338 0L338 46Z" fill="%234F46E5"/></svg>')
    top no-repeat;
}

.title-box {
  border-top-left-radius: 10rem;
}

.title-box-info {
  border-top-left-radius: 10rem;
  border-top-right-radius: 10rem;
}

.para-break {
  word-wrap: break-word
}