@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  h1 {
    @apply font-favorit text-5xl font-medium leading-6;
  }

  h2 {
    @apply font-favorit text-4xl font-bold leading-6;
  }

  h3 {
    @apply font-favorit text-3xl font-book leading-5;
  }

  .book-info-sm {
    @apply font-favorit text-sm font-book leading-4;
  }

  .book-info-md {
    @apply font-favorit text-base font-book leading-4;
  }

  .book-intro-sm {
    @apply font-favoritBook text-md leading-4;
  }

  .book-intro-md {
    @apply font-favoritBook text-xl font-book leading-4;
  }

  .book-intro-lg {
    @apply font-favoritBook text-2xl font-book leading-5;
  }

  .medium-intro-sm {
    @apply font-favorit text-base font-medium leading-4;
  }

  .medium-intro-md {
    @apply font-favorit text-xl font-medium leading-4;
  }

  .medium-intro-lg {
    @apply font-favorit text-2xl font-medium leading-5;
  }

  .bold-intro-sm {
    @apply font-favorit text-md font-bold leading-4;
  }

  .bold-intro-md {
    @apply font-favorit text-xl font-bold leading-4;
  }

  .bold-intro-lg {
    @apply font-favorit text-2xl font-bold leading-5;
  }

  .global-margin {
    @apply max-w-screen-2xl;
    @apply mx-7;
    @apply md:mx-10;
    @apply xl:mx-auto;
  }
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 50px;
  height: 50px;
  border: 40px solid #f3f3f3;
  border-top: 40px solid #4f46e5;
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.spinner-container {
  background-image: url(images/loading-bg.png);
  background-size: cover;
}

.header-background {
  background: url(images/header-background.png) no-repeat center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  height: 80vh;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-content {
  flex: 0 0 60vw;
}

.saf-demo {
  background: url(images/SAF-preview.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  padding: 20%;
}

.tooltip {
  position: absolute;
  margin: 8px;
  padding: 4px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  max-width: 300px;
  font-size: 10px;
  z-index: 9;
  pointer-events: none;
}

.control-panel {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 320px;
  padding: 12px 24px;
  margin: 20px;
  text-transform: uppercase;
}

.onMap {
  position: absolute;
  max-width: 400px;
}

.title-text-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.text-background-shape {
  background: url('data:image/svg+xml;utf8,<svg width="357" height="247" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 140C0 62.6801 62.6801 0 140 0H314V206H0V140Z" fill="%23EFF4F1"/><path d="M357 107C357 184.32 294.32 247 217 247L44 247L44 40L357 40L357 107Z" fill="%23EFF4F1"/></svg>')
    top no-repeat;
}

.plan-background-shape {
  background: url('data:image/svg+xml;utf8,<svg width="339" height="206" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M0 140C0 62.6801 62.6801 0 140 0L185 0L185 206L0 206L0 140Z" fill="%232F3130"/><rect x="66" width="273" height="206" rx="103" fill="%232F3130"/></svg>')
    top no-repeat;
}

.measure-background-shape {
  background: url('data:image/svg+xml;utf8,<svg idth="357" height="247" viewBox="0 0 357 247" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 140C0 62.6801 62.6801 0 140 0H314V206H0V140Z" fill="%231EB792"/><path d="M357 107C357 184.32 294.32 247 217 247L44 247L44 40L357 40L357 107Z" fill="%231EB792"/></svg>')
    top no-repeat;
}

.list-background-shape {
  background: url('data:image/svg+xml;utf8,<svg width="338" height="186" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M338 46C338 123.32 275.32 186 198 186L0 186L1.62606e-05 -2.95489e-05L338 0L338 46Z" fill="%234F46E5"/></svg>')
    top no-repeat;
}

.title-box {
  border-top-left-radius: 10rem;
}

.title-box-alter {
  border-bottom-right-radius: 10rem;
}

.title-box-info {
  border-top-left-radius: 10rem;
  border-top-right-radius: 10rem;
}

.para-break {
  word-wrap: break-word;
}

.mapboxgl-popup {
}

.mapboxgl-popup-content {
  border-radius: 38px !important;
  padding-top: 0 !important;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin: 0 !important;
  border-width: 1px !important;
  border-color: #1eb792 !important;
}

.mapboxgl-popup-close-button {
  display: none;
}

.rounded-30 {
  border-radius: 30px;
}

.vertical-row {
  float: left;
  height: 100px;
  width: 1px;
  background-color: your color;
}

.styled-scrollbars {
  /* Foreground, Background */
  scrollbar-color: #1eb792 #f4f4f4;
}
.styled-scrollbars::-webkit-scrollbar {
  width: 10px; /* Mostly for vertical scrollbars */
  height: 10px; /* Mostly for horizontal scrollbars */
}
.styled-scrollbars::-webkit-scrollbar-thumb {
  /* Foreground */
  background: #1eb792;
}
.styled-scrollbars::-webkit-scrollbar-track {
  /* Background */
  background: #f4f4f4;
}

/* Basics */
.mapboxgl-ctrl-geocoder,
.mapboxgl-ctrl-geocoder *,
.mapboxgl-ctrl-geocoder *:after,
.mapboxgl-ctrl-geocoder *:before {
  box-sizing: border-box;
}

.mapboxgl-ctrl-geocoder {
  font-size: 18px;
  line-height: 24px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  position: relative;
  background-color: #fff;
  width: 100%;
  min-width: 240px;
  z-index: 9999;
  border-radius: 4px;
  transition: width 0.25s, min-width 0.25s;
}

.mapboxgl-ctrl-geocoder--input {
  font: inherit;
  width: 100%;
  border: 0;
  background-color: transparent;
  margin: 0;
  height: 50px;
  color: #404040; /* fallback */
  color: rgba(0, 0, 0, 0.75);
  padding: 6px 45px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.mapboxgl-ctrl-geocoder--input::-ms-clear {
  display: none; /* hide input clear button in IE */
}

.mapboxgl-ctrl-geocoder--input:focus {
  color: #404040; /* fallback */
  color: rgba(0, 0, 0, 0.75);
  outline: 0;
  box-shadow: none;
  outline: thin dotted;
}

.mapboxgl-ctrl-geocoder .mapboxgl-ctrl-geocoder--pin-right > * {
  z-index: 9999;
  position: absolute;
  right: 8px;
  top: 7px;
  display: none;
}

.mapboxgl-ctrl-geocoder,
.mapboxgl-ctrl-geocoder .suggestions {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

/* Collapsed */
.mapboxgl-ctrl-geocoder.mapboxgl-ctrl-geocoder--collapsed {
  width: 50px;
  min-width: 50px;
  transition: width 0.25s, min-width 0.25s;
  z-index: 999;
}

/* Suggestions */
.mapboxgl-ctrl-geocoder .suggestions {
  background-color: #fff;
  border-radius: 4px;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  top: 110%; /* fallback */
  top: calc(100% + 6px);
  z-index: 1000;
  overflow: hidden;
  font-size: 15px;
}

.mapboxgl-ctrl-bottom-left .suggestions,
.mapboxgl-ctrl-bottom-right .suggestions {
  top: auto;
  bottom: 100%;
}

.mapboxgl-ctrl-geocoder .suggestions > li > a {
  cursor: default;
  display: block;
  padding: 6px 12px;
  color: #404040;
}

.mapboxgl-ctrl-geocoder .suggestions > .active > a,
.mapboxgl-ctrl-geocoder .suggestions > li > a:hover {
  color: #404040;
  background-color: #f3f3f3;
  text-decoration: none;
  cursor: pointer;
}

.mapboxgl-ctrl-geocoder--suggestion-title {
  font-weight: bold;
}

.mapboxgl-ctrl-geocoder--suggestion-title,
.mapboxgl-ctrl-geocoder--suggestion-address {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* Icons */
.mapboxgl-ctrl-geocoder--icon {
  display: inline-block;
  vertical-align: middle;
  speak: none;
  fill: #757575;
  top: 15px;
}

.mapboxgl-ctrl-geocoder--icon-search {
  position: absolute;
  top: 13px;
  left: 12px;
  width: 23px;
  height: 23px;
}

.mapboxgl-ctrl-geocoder--button {
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  background: #fff;
  line-height: 1;
}

.mapboxgl-ctrl-geocoder--icon-close {
  width: 20px;
  height: 20px;
  margin-top: 8px;
  margin-right: 3px;
}

.mapboxgl-ctrl-geocoder--button:hover .mapboxgl-ctrl-geocoder--icon-close {
  fill: #909090;
}

.mapboxgl-ctrl-geocoder--icon-loading {
  width: 26px;
  height: 26px;
  margin-top: 5px;
  margin-right: 0px;
  -moz-animation: rotate 0.8s infinite cubic-bezier(0.45, 0.05, 0.55, 0.95);
  -webkit-animation: rotate 0.8s infinite cubic-bezier(0.45, 0.05, 0.55, 0.95);
  animation: rotate 0.8s infinite cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

/* Animation */
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Media queries*/
@media screen and (min-width: 640px) {
  .mapboxgl-ctrl-geocoder.mapboxgl-ctrl-geocoder--collapsed {
    width: 36px;
    min-width: 36px;
  }

  .mapboxgl-ctrl-geocoder {
    width: 33.3333%;
    font-size: 15px;
    line-height: 20px;
    max-width: 360px;
  }
  .mapboxgl-ctrl-geocoder .suggestions {
    font-size: 13px;
  }

  .mapboxgl-ctrl-geocoder--icon {
    top: 8px;
  }

  .mapboxgl-ctrl-geocoder--icon-close {
    width: 16px;
    height: 16px;
    margin-top: 3px;
    margin-right: 0;
  }

  .mapboxgl-ctrl-geocoder--icon-search {
    left: 7px;
    width: 20px;
    height: 20px;
  }

  .mapboxgl-ctrl-geocoder--input {
    height: 36px;
    padding: 6px 35px;
  }

  .mapboxgl-ctrl-geocoder--icon-loading {
    width: 26px;
    height: 26px;
    margin-top: -2px;
    margin-right: -5px;
  }

  .mapbox-gl-geocoder--error {
    color: #909090;
    padding: 6px 12px;
    font-size: 16px;
    text-align: center;
  }
}

.bg-pattern {
  background-image: url('./images/patter_treesAI_01.svg');
}

.bg-learn {
  background: url('./images/learn-bg.png') top / contain no-repeat;
}

.bg-gradient {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(79, 70, 229, 1) 32%,
    rgba(255, 255, 255, 1) 100%
  );
}
